{% extends 'base.html.twig' %}

{% block title %}Wow Chronicles - Liste des Catégories{% endblock %}

{% block body %}
    <h1>Liste des Catégories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td>{{ type.nom }}</td>
                <td>{{ type.descriptionType | u.truncate(100,'[...]',false) | raw }}</td>
                <td>
                    <a href="{{ path('type_edit', {'id': type.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun type trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_new') }}">Créer un nouveau catégorie</a>
{% endblock %}
