{% extends 'base.html.twig' %}
{% form_theme requestForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Wow Chronicles - Mot de passe oublié{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1 class="espaceCustom">Réinitialiser votre mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email, {'attr': {'class': "espaceCustom", 'label': 'Email :'}}) }}
        <div class="espaceCustom">
            <small>
                Merci d'entrer votre adresse e-mail. Nous allons vous envoyer un mail afin de réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-primary" style="background-color: #343A40; color: white">Envoyer l'e-mail</button>
    {{ form_end(requestForm) }}
{% endblock %}
