<form method="post" action="{{ path('video_delete', {'id': video.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer cette vidéo ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ video.id) }}">
    <button class="btn" style="background-color: #343A40; color: white; margin-bottom: 20px">Supprimer</button>
</form>
