{% extends 'base.html.twig' %}

{% block body %}

    <h1>Bienvenue sur notre site communautaire sur World of Warcraft</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab alias aliquid amet at atque beatae commodi
        consequuntur culpa, dicta dolor dolore dolores ducimus enim eum ex facilis fugit itaque iure labore laudantium
        magni maiores molestias mollitia necessitatibus, neque nihil nostrum odit officia quas quasi quia rem
        reprehenderit, temporibus ullam unde voluptatibus! Dolore dolores doloribus illo nobis non officia quisquam!
        Aliquid cumque cupiditate dolor esse et, ex facere, facilis ipsum laudantium natus necessitatibus nobis officiis
        porro sed sit temporibus tenetur. Ab aperiam corporis harum ipsa, magni maxime minima molestiae mollitia
        necessitatibus non obcaecati quam quis tempora tenetur totam vel voluptatum.</p>

    <p>Alias architecto dicta eos
        vel! Accusamus consequuntur cum debitis deserunt dolor doloremque ea eveniet expedita fugiat id laboriosam,
        laudantium magnam, mollitia nulla odit officiis omnis quidem similique suscipit tempora tenetur unde velit? Commodi
        eius eligendi eveniet facere, incidunt inventore laborum libero magni provident quasi quis, quod ratione tempora
        voluptatem voluptatibus! Ad blanditiis delectus eaque, eius excepturi facilis impedit incidunt iste iusto laborum
        minus nihil odio qui quisquam rem, tenetur veritatis? Aliquam aperiam asperiores autem consequatur consequuntur
        debitis dignissimos distinctio dolore earum enim eos et, facilis nobis nulla possimus quaerat quasi quis quisquam
        quos repudiandae soluta temporibus totam voluptas! Ea, magni.</p>


{% endblock %}