{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="text-align: center" class="espaceCustom">Bienvenue sur notre site communautaire sur World of Warcraft</h1>

    <img style="display: flex; justify-content: center" src="https://i.ytimg.com/vi/ly_goENuwgg/maxresdefault.jpg" alt="Image Bienvenue WoW">
{% endblock %}