{% extends 'base.html.twig' %}

{% block body %}
    <div style="display: flex; align-items: center; flex-direction: column">
        <h1 style="text-align: center" class="espaceCustom">Bienvenue sur notre site communautaire sur World of Warcraft</h1>

        <img style= "max-width: 50%" src="https://i.ytimg.com/vi/ly_goENuwgg/maxresdefault.jpg" alt="Image Bienvenue WoW">
    </div>
{% endblock %}