{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title%}Wow Chronicles - Nous contacter{% endblock %}
{% block body %}
    <h1>Nous contacter </h1>
    <div class="bg-white p-5 contact-form">
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_widget(form) }}
                <button type="submit" value="Send" class="btn btn-primary py-3 px-5" style="background-color: #343A40; color: white; margin-bottom: 20px; margin-top: 20px">Envoyer</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}