<form method="post" action="{{ path('article_delete', {'id': article.id}) }}" onsubmit="return confirm(' Êtes vous sure de vouloir supprimer cet Article ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn" style="background-color: #343A40; color: white; margin-bottom: 20px">Supprimer</button>
</form>
