{% extends 'base.html.twig' %}

{% block title %}Wow Chronicles - Crée un article{% endblock %}

{% block body %}
    <h1 class="espaceCustom">Crée un article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}">Revenir à la liste</a>
{% endblock %}
