{% extends 'base.html.twig' %}

{% block title %}Wow Chronicles - Crée un nouvel utilisateur{% endblock %}

{% block body %}
    <h1 class="espaceCustom">Créer un nouvel utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">Revenir en arrière</a>
{% endblock %}
